

body {
  background-color: black;
  font-family: 'Quicksand', sans-serif;
  color: white; 
}

.title {
  background-color: black;
  color: white; 
  text-align: center; 
  font-size: 10em; 
}

.link {
  text-decoration: none; 
  color: white; 
  float: right;  
}