


body {
  margin: 0; 
  padding: 0; 
  font-family: 'Heebo', sans-serif;
  color: white; 
  background-color: #F07F7F;
}

.title {
  margin: 0 0 0 0; 
  background-color: black;
  color: white; 
  text-align: center; 
  font-size: 8em; 
  padding-top: 1em;
}

.hero-title {
  background-color: black;
  text-align: center; 
  margin: 0 0 0 0; 
  padding-bottom: 3em; 
  font-size: 2em; 
  
}

.link {
  text-decoration: none; 
  color: white; 
  float: right; 
}

.selling-points {
  font-size: 1.5em;
  text-align: center;  
  width: 100%; 
  padding-top: 5%; 
  padding-bottom: 5%; 
}

.image { 
  width: 100%;
  text-align: center; 
  padding-top: 3%; 
  
}
